@import "./colors.css";
body {
    /* background-color: var(--green-background-color); */
}

/* :root {
    --width: calc(100vw * 0.48);
} */

.calendar * {
    margin: 0;
    padding: 0;
}

.calendar {
    margin-left: auto;
    margin-right: auto;
    width: var(--width);
    background-color: var(--white-background-color);
    font-family: "GillSansLightC";
    font-size: calc(60 / 1920 * 100vw);
    font-weight: 300;
    letter-spacing: 0%;
}

.calendar .days{
}

.calendar .month-name {
    text-align: center;
    font-size: calc(90 / 1920 * 100vw);
}

.calendar td {
    text-align: center;
    justify-content: space-between;
    width: calc(var(--width) / 7 * 1.1425);
    height: calc(var(--width) / 7);
}

.calendar iframe {
    width: calc(var(--width) / 7 * 1.1425);
    height: calc(var(--width) / 7);
    border: 0px solid green;
}

.div-heart-icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.div-heart-icon * {
    position: absolute;
}

.div-heart-icon div {
    z-index: 2;
}

.div-heart-icon iframe {
    z-index: 1;
}

