@import "./colors.css";
@font-face {
	font-family: 'GillSansLightC'; 
	src: url(/src/fonts/gillsanslightc.otf); 
}
body {
    background-color: var(--green-background-color);
}
:root {
    --width: calc(100vw * 0.48);
}
@media screen and (min-width: 800px){
    .contacts-main-container{
        margin-left: calc(240 / 1920 * 100vw);
        margin-right: calc(239 / 1920 * 100vw);
        margin-top: calc(88 / 1920 * 100vw);
        background-color: var(--white-background-color);
        border-radius: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'GillSansLightC';
        padding-bottom: calc(141 / 1920 * 100vw);
        margin-bottom: calc(76 / 1920 * 100vw);;

    }
    .contacts-main-container h1{
        font-weight: 300;
        font-size: calc(70 / 1920 * 100vw);
    }
    .contacts-children-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .husband, .bride {
        text-align: center;
    }
    .husband {
        margin-top: 5%;
    }
    .bride {
        margin-top: -5%;
    }
    .husband p, .bride p {
        font-weight: 300;
        font-size: calc(45 / 1920 * 100vw);
    }

}