@import "./colors.css";
@font-face {
	font-family: 'GillSansLightC'; 
	src: url(/src/fonts/gillsanslightc.otf); 
}

:root {
    --width: calc(100vw * 0.48);
}

  @media screen and (min-width: 800px){
    .location-main-container {
        background-color: var(--white-background-color);
        border-radius: 100px;
        margin-left: calc(240 / 1920 * 100vw);
        margin-right: calc(239 / 1920 * 100vw);
        margin-top: calc(122 / 1920 * 100vw);
        padding-bottom: calc(23 / 1920 * 100vw);
        font-family: 'GillSansLightC';
        text-align: center;
    
    }
    .location-main-container h1{
        font-size: calc(70 / 1920 * 100vw);
        font-weight: 300;
        padding-top: calc(57 / 1920 * 100vw);
    }
    
    .location-children-container {
        display: flex;
        justify-content: space-between;
        margin-right: calc(122 / 1920 * 100vw);
    }

    .address {
        text-align: right;    
    }
    .address_without_button h1{
        font-size: calc(70 / 1920 * 100vw);
        font-weight: 300;
        padding-top: calc(19 / 1920 * 100vw);
        margin: 0;
    }
    
    .address p{
        font-size: calc(40 / 1920 * 100vw);
        padding-top: calc(19 / 1920 * 100vw);
        margin: 0;
    }
    
    .map_button{
        width: calc(340 / 1920 * 100vw);
        height: calc(287 / 1920 * 100vw);
        border-radius: 50px;
        background-color: var(--white-background-color);
        font-size: calc(40 / 1920 * 100vw);
        color: var(--gray-text-color);
        margin-top: calc(71 / 1920 * 100vw);
        font-family: 'GillSansLightC';
    }
    .map_button img{
        margin-top: calc(40 / 1920 * 100vw);
    }
}
@media screen and (max-width: 800px) {
    /* .main-container {
        width: 90%;
        height: fit-content;
        margin: 0;
    } */
    .main-container {
        background-color: #fff;
        height: 100%;
        border-radius: 15px;
        width: 95%;
        margin: 0 auto;
    }
    h1{
        text-align: center;
        font-weight: 300;
        font-size: 25px;
        line-height: 28.43px;
        /* padding-top: 57px; */
        color: black;
    }
    
    .main {
        display: flex;
        margin: 0;
        width: auto;
        flex-direction: row;
        justify-content: space-around;

    }
    #flower {
        margin: 0;
        width: 69%;
        height: 71%;
        position: relative;
        margin-left: -10%;

    }
    .address {
        font-weight: 300;
        margin-right: 0;
        height: auto;
        color: black;
        display: flex;
        flex-direction: column;
        align-items: end;
    }
    .address_without_button {
        text-align: right;
        width: 200px;
        z-index: 1;
        margin-left: -100px;
    }
    h2{
        font-size: 20px;
        line-height: 22.74px;
        text-align: right;
        font-weight: 300;
        margin: 0;
    }
    
    .address p{
        font-size: 15px;
        margin: 0;
    }
 
    .map_button{
        width: 118px;
        height: 75px;
        border-radius: 10px;
        border-color: black;
        background-color: #fff;
        font-weight: 300;
        font-size: 15px;
        color: #797979;
        line-height: 17.06px;
        margin-top: 10%;

    }
    /* .map_button:hover{
        background-color: #797979;
    } */
    .map_button img{
        position: relative;
        width: 15%;
        height: 10%;
    }
}


/* MOB  */
@media screen and (max-width: 800px){

    .location-main-container {
        background-color: var(--white-background-color);
        border-radius: 15px;
        margin-left: calc(8 / 375 * 100vw);
        margin-right: calc(8 / 375 * 100vw);
        margin-top: calc(17 / 375 * 100vw);
        padding-bottom: calc(7 / 375 * 100vw);
        font-family: 'GillSansLightC';
        text-align: center;
    
    }
    .location-main-container h1{
        font-size: calc(25 / 375 * 100vw);
        font-weight: 300;
        padding-top: calc(16 / 375 * 100vw);
    }
    
    .location-children-container {
        display: flex;
    }

    .address {
        text-align: right;
    }
    .address_without_button h1{
        font-size: calc(20 / 375 * 100vw);
        font-weight: 300;
        margin: 0;
        padding-top: calc(11 / 375 * 100vw);
    }
    
    .address p{
        font-size: calc(15 / 375 * 100vw);
        padding-top: calc(10 / 375 * 100vw);
        margin: 0;
    }
    
    .map_button{
        width: calc(118 / 375 * 100vw);
        height: calc(75 / 375 * 100vw);
        border-radius: 10px;
        background-color: var(--white-background-color);
        font-size: calc(15 / 375 * 100vw);
        color: var(--gray-text-color);
        margin-top: calc(19 / 375 * 100vw);
        font-family: 'GillSansLightC';
    }
    .map_button img{
        margin-top: calc(8 / 375 * 100vw);
    }
}